*{
    box-sizing: border-box;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}


.botoes{
    
    margin-top: 20px;
}

button{

width: 100px;   
height: 28px;
border-radius: 5px;
cursor: pointer;


    
    
}

#ligar{
    background-color: greenyellow;
}

#desligar{
    background-color: red;
}


img{
    width: 200px;
}